.login-pf body {
    height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
    background-image: url('../../resources/login/blueprint-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
}

.login-pf-page {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kc-locale ul {
    display: none;
    position: absolute;
    list-style: none;
    right: 0;
    top: 20px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 5px 14px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url(../img/keycloak-logo-2.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

div.kc-logo-text {
    background-image: url(../img/keycloak-logo-text.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #ededed;
    overflow: visible;
    white-space: nowrap;
}

#kc-page-title {
    margin-top: 0;
    margin-bottom: 35px;
}

#kc-header-wrapper {
    font-size: 24px;
    color: var(--primary-color);
    letter-spacing: normal;
    line-height: 1.2em;
    white-space: normal;
}

#kc-content {
    width: 100%;
}

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }

.card-pf form.form-actions .btn {
    float: right;
    margin-left: 10px;
}

#kc-form-buttons {
    margin-top: 20px;
    text-align: right;
}

.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}

.card-pf {
  width: 100%;
  padding: 0 18% 0 20%;
  margin-top: -20%;
  position: relative;
  user-select: none;
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.login-pf-page .login-pf-social-link {
  margin-bottom: 25px;
}
.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

#kc-error-message .instruction {
    margin: 0;
    font-size: 13px;
    color: var(--primary-color);
    caret-color: var(--primary-color);
}

#kc-back {
    margin-top: 5px;
}

form#kc-select-back-form div.login-pf-social-section {
    padding-left: 0px;
    border-left: 0px;
}

.alert {
    width: 600px;
    height: 200px;
    top: calc(50vh - 200px);
    left: calc(50vw - 300px);
    z-index: 2;
    position: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    background-color: #ffffff;
    --webkit-transition: all 0.2s ease-out;
    --moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.alert.close {
    opacity: 0;
    top: calc(50vh - 300px);
}

#kc-alert-backdrop {
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    opacity: 1;
    background-color: #1135608c;
    --webkit-transition: opacity 0.2s ease-out;
    --moz-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#kc-alert-backdrop.close {
    opacity: 0;
}

#kc-alert-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.alert.alert-error p {
    color: var(--error-color);
    caret-color: var(--error-color);
}

.alert.alert-info p {
    color: var(--primary-color);
    caret-color: var(--primary-color);
}

.alert.alert-warning p {
    color: var(--warning-color);
    caret-color: var(--warning-color);
}

.alert.alert-success p {
    color: var(--primary-color);
    caret-color: var(--primary-color);
}

.common-error-msg {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--primary-text);
    caret-color: var(--primary-text);
}

.detail-error-btn {
    font-size: 13px;
    cursor: pointer;
    color: var(--secondary-text);
    caret-color: var(--secondary-text);
}

.kc-invalid-credential {
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 16px;
}