.help_area {
    display: table;
    position: absolute;
}


.help_area p {
    position: relative;
    max-width: 20em;
    background-color: #fff;
    padding: 0.2em 0.5em;
    font-size: 1.0em;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
}

.help_area p::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.help_area table{
    border:none;
}

.help_area #help_area_body {
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    min-height: 300px;
    min-width: 500px;
    background-size: cover;

    /* position: absolute; */
	margin: 0;
	padding: 0;
	z-index: 98;
}
.help_area #help_area_body-2 {
    z-index: 9;
    height: 120px;
    width: 500px;
    background-image: url("../../resources/users/default.webp");
    background-size: cover;
}
  
.help_area #help_area_headertext {
    padding: 1px;
    z-index: 10;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.4);
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    text-align: right;
}

.help_area #help_area_emo {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: yellow;
    border: 3px solid red;
}

.custom-select-header select {
    border: none;
    border-radius: 5px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    font-weight: bold;
    width: 95%;
    background-color: #EEEEEE;
    margin: 2px;
}
.format-input {
    border: none;
    border-radius: 5px;
}

.help_area #help_area_input {
    padding: 1px;
    z-index: 10;
    background-color: rgba(255, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
