<div class="container">
    <div class="row">
            <h3><span class="label label-primary clickMe" for="textBox1">Module</span></h3>
            <input value="" type="text" id="textBox1" name="textBox1" class="blur" >
            <h3><span class="label label-primary clickMe" for="textBox2" style="margin-left: 5px;margin-right: 5px">UI ID</span></h3>
            <input value="" type="text" id="textBox2" name="textBox2" class="blur" >
            <button id="btnAddLabel" type="button" class="btn btn-primary btnAddLabel" style="margin-left: 5px;">+</button>
    </div>
</div>