<div class="" style="margin-right: abcxyz;" id="idne">
    <div class="sticker" name="person0" style="padding-top: 15px;" >
        <div id="content">
            <table cellspacing="0" cellpadding="0">
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div class="rounded-circle " style="text-align: center;" id="sticker_headertext">Person1</div>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr>
                    <td>
                        <div class="rounded-circle border border-danger" id="sticker_body">
                            <img onclick="punchInOut(this.id)" src="srcImg" class="rounded-circle" alt="" width="100px" height="100px"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>